<!-- include -->
<%- include("./layouts/header"); -%>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#addModal">
  Add Transaction
</button>
<a href="/transaction/getcsv" class="btn btn-primary m-2">
  export csv
</a>
<div class="container-fluid p-5">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Company</th>
            <th scope="col">Qty</th>
          </tr>
        </thead>
        <tbody>
            <% transactions.forEach((trans,i)=>{ %> 
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= trans.item.name %></td>
                <td><%= trans.company.name %></td>
                <td><%= trans.quantity %></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
</div>


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/transaction" method="post" id="formadd">
          <div class="form-row">
            <div class="form-group items col-md-6">
              <label for="item">Item</label>
              <select name="item" id="item" class="form-control items" required>
                <% items.forEach(item => { %>
                  <option value="<%= item._id %>"><%= item.name %> </option>
                <% }) %>
              </select>
            </div>
            <div class="form-group companies col-md-6">
              <label for="company">Company</label>
              <select name="company" id="company" data-live-search="true" data-title="pilih perusahaan" class="form-control companies" required>
                <% companies.forEach(comp => { %>
                  <option value="<%= comp._id %>"><%= comp.name %> </option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Quantity</label>
            <input type="number" min="0" name="quantity" class="form-control" id="inputAddress">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-submit">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
<%- include("./layouts/footer"); -%>